name: RELEASE

on:
  release:
    types: [published]

jobs:
  build-front:
    name: Build Front
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: ['12.14']
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./ergoMixFront

    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - name: Setup NPM
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dep and Build
        run: |
          npm install
          CI=false npm run build
      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: front-build
          path: ./ergoMixFront/build/*
          retention-days: 1
          if-no-files-found: error
  
  linux-build:
    name: Linux Build
    needs: build-front
    strategy:
      matrix:
        os: [ubuntu-latest]
        scala: [2.12.10]
        java: [adopt@1.8]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./mixer
        
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}

      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name: Download front build
        uses: actions/download-artifact@v2
        with:
          name: front-build
          path: ./mixer/public/

      - name: Build App
        run: |
          sbt ++${{ matrix.scala }} assembly

      - name: Move Jar File
        run: |
          mv `find . -name ergoMixer-*.jar` ../

      - name: Upload JAR archive
        uses: softprops/action-gh-release@v1
        with: 
          files: ergoMixer-*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows-build:
    name: Windows Build
    needs: build-front
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        scala: [2.12.10]
        java: ["zulu@1.8.0=zip+https://cdn.azul.com/zulu/bin/zulu8.58.0.13-ca-fx-jdk8.0.312-win_x64.zip"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./mixer
        
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.java }}

      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name:  etup InnoSetup
        run: |
          choco uninstall -y InnoSetup
          choco install -y InnoSetup --version=5.6.1

      - name: Download front build
        uses: actions/download-artifact@v2
        with:
          name: front-build
          path: ./mixer/public/

      - name: Windows Build
        shell: cmd
        run: sbt ++${{ matrix.scala }} jdkPackager:packageBin

      - name: Move EXE File
        run: |
          $Universal=".\target\universal"
          $JPBundles="$Universal\jdkpackager\bundles"
          mv "$JPBundles\ergoMixer-*.exe" ../

      - name: Upload EXE archive
        uses: softprops/action-gh-release@v1
        with:
          files: ergoMixer-*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  macos-build:
    name: Mac-OS Build
    needs: build-front
    strategy:
      matrix:
        os: [macos-latest]
        scala: [2.12.10]
        java: ["zulu@1.8.0=tgz+https://cdn.azul.com/zulu/bin/zulu8.50.0.21-ca-fx-jdk8.0.272-macosx_x64.tar.gz"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./mixer
        
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}

      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name: Download front build
        uses: actions/download-artifact@v2
        with:
          name: front-build
          path: ./mixer/public/

      - name: Mac-OS Build
        run: sbt ++${{ matrix.scala }} jdkPackager:packageBin

      - name: Move DMG
        run: |
          Universal="./target/universal"
          JPBundles="$Universal/jdkpackager/bundles"
          mv $JPBundles/ergoMixer-*.dmg ../

      - name: Upload DMG archive
        uses: softprops/action-gh-release@v1
        with:
          files: ergoMixer-*.dmg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
